.projects {
  padding: 0% 0% 20% 0%;
}
.projects h1 {
  font-size: 2.8vmax;
  font-weight: 600;
  padding: 3% 0% 0% 3%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}
.card {
  /* height: 254px; */
  min-width: 310px;
  border-radius: 15px;
  margin: 1.2%;
  transition: all 0.2s;
  cursor: pointer;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: space-between;
}

.darkcard:hover {
  box-shadow: 5px 5px 20px rgb(0, 0, 0), 0px 0px 15px rgb(33, 33, 33);
}
.lightcard:hover {
  box-shadow: 5px 5px 20px #bebebe, -5px -5px 10px #ffffff;
}
.cards h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.cards p {
  font-size: 1rem;
  font-weight: 400;
  max-width: 320px;
  padding: 10px;
  text-align: justify;
}
/* button inside a tag */
.cards a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-left: 0.5vmax;
  color: inherit;
}
.cards a button {
  background-color: inherit;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: inherit;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.2s;
}
.lightcard a button {
  border: 1px solid #000000;
}

@media screen and (max-width: 1200px) {
  .projects {
    margin-left: 0;
    width: 100%;
    padding-top: 10vh;
  }
  .cards{
    justify-content: center;
  }
}
