.projects {
  padding: 0% 0% 20% 3%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}
.card {
  height: 254px;
  min-width: 310px;
  border-radius: 30px;
  margin: 2.5%;
  transition: all 0.2s;
  cursor: pointer;
}
.darkcard {
  background: rgb(24, 24, 24);
  color: #00ff75;
}
.darkcard:hover {
  box-shadow: 5px 5px 20px rgb(0, 0, 0), -5px -5px 10px rgb(110, 110, 110);
}
.lightcard:hover {
  box-shadow: 5px 5px 20px #bebebe, -5px -5px 10px #ffffff;
}
.cards h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 10px;
}
.cards p {
  font-size: 1rem;
  font-weight: 400;
  max-width: 320px;
  padding: 10px;
}
/* button inside a tag */
.cards a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  color: inherit;
}
.cards a button {
  background-color: inherit;
  border: 1px solid #00ff75;
  border-radius: 5px;
  color: inherit;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.2s;
}
.lightcard a button {
  border: 1px solid #000000;
}

@media screen and (max-width: 1200px) {
  .projects {
    margin-left: 0;
    width: 100%;
    padding-top: 10vh;
  }
}
@media screen and (max-width: 485px) {
  .projects {
    padding: 0% 5% 20% 5%;
  }
  .darkcard {
    box-shadow: 5px 5px 20px rgb(0, 0, 0), -5px -5px 10px rgb(110, 110, 110);
  }
}
